<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Welcome To The Game Page</h1>
  </body>
</html>
