<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>

    <h1>SPADES</h1>
    <div id="start-spades-container">
	  <form action="/startSpades" method="post">
	    <div class="form-group">
	      <input type="text" class="form-control start-spades-players" placeholder="Enter Player 1" name="player1">
	      <input type="text" class="form-control start-spades-players" placeholder="Enter Player 2" name="player2">
	      <input type="text" class="form-control start-spades-players" placeholder="Enter Player 3" name="player3">
	      <input type="text" class="form-control start-spades-players" placeholder="Enter Player 4" name="player4">
	    </div>
	    <div class="start-spades-button">
	    	<button type="submit" class="btn btn-default">Submit</button>
	    </div>
	  </form>
    </div>

  </body>
</html>
