body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#spades-header {
	font-family: "Great Vibes";
	font-weight:bold;
	text-align:center;
	font-size:80px;
	font-weight:bold;
}

#start-spades-container {
	width:343px;
	margin-left:auto;
	margin-right:auto;
}

.start-spades-label {
	font-size:20px;
	font-weight:bold;
}

.start-spades-players {
	width:300px;
	margin-bottom:10px;
}

.start-spades-button {
	width:70px;
	margin-left:auto;
	margin-right:auto;
}

.start-spades-row {
	display:table-row;
}

.start-spades-cell {
	display:table-cell;
}

.ready-to-play {
	width:34px;
	height:34px;
	margin-left:5px;
	padding-top:5px;
	text-align:center;
	background-color:white;
	border-radius:2px;
	box-shadow: 0 0 1px;
	border: 2px solid gray;
	cursor:pointer;
}

.david-button {
	width: 566px;
	height: 634px;
	position: absolute;
	margin-left:-103px;
}

.hide-until-ready {
	display:none;
}

.highlight {
	background-color:#66CC33;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}