#game-body {
	background-color:#FFEEFF;
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#spades-header {
	font-family: "Great Vibes";
	font-weight:bold;
	text-align:center;
	font-size:80px;
	font-weight:bold;
}

#start-spades-container {
	width:343px;
	margin-left:auto;
	margin-right:auto;
}

.start-spades-label {
	font-size:20px;
	font-weight:bold;
}

.start-spades-players {
	width:300px;
	margin-bottom:10px;
}

.start-spades-button {
	width:70px;
	margin-left:auto;
	margin-right:auto;
}

.team-label {
	font-size:20px;
}

.start-spades-row {
	display:table-row;
}

.start-spades-cell {
	display:table-cell;
}

.ready-to-play {
	width:34px;
	height:34px;
	margin-left:5px;
	padding-top:5px;
	text-align:center;
	background-color:white;
	border-radius:2px;
	box-shadow: 0 0 1px;
	border: 2px solid gray;
	cursor:pointer;
}

.david-button {
	width: 566px;
	height: 634px;
	position: absolute;
	margin-left:-103px;
}

.hide-until-ready {
	display:none;
}

.highlight {
	background-color:#66CC33;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/*-----------------------------------------------------------------------------------------------------*/
/*game page*/

#game-app {
	width:900px;
	height:654px;
	margin-left:auto;
	margin-right:auto;
}

#spades-main-container {
	width:900px;
	height:654px;
}

#spades-sideBar-container {
	width:190px;
	height:654px;
	background-color:#CCFFCC;
	padding:10px;
	float:left;
}

.spades-single-game-sideBar {
	width:170px;
	background-color:#FFFFCC;
	padding:10px;
	margin-bottom:5px;
	cursor:pointer;
}

.spades-sideBar-selected {
	background-color:#FFCC99;
	box-shadow:0 0 2px;
}

.game-hidden {
	display:none;
}

.spades-single-game {
	float:left;
	margin-left:5px;
	height:654px;
	width:705px;
}

.game-score {
	width:140px;
	background-color:#CCFFFF;
	padding:10px;
	height:654px;
	float:left;
}

.score-table {
	background-color:#CECEFF;
	text-align:center;
	padding:10px;
	font-size:20px;
	width:120px;
}

.score-table th {
	text-align:center;
	border:2px solid black;
}

.score-table td {
	border:2px solid black;
}

.game-play-container {
	float:left;
	background-color:#CCFFFF;
	width:565px;
	height:654px;
}

.game-play {
	width:555px;
	height:644px;
	margin-left:5px;
	margin-top:5px;
	background-color:#CECEFF;
	padding-top:1px;
}

.game-player {
	border:2px solid black;
	width:180px;
	height:200px;
}

.game-team1Player1 {
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}

.game-team2Player1 {
	margin-left:5px;
	float:left;
	margin-top:15px;
}

.game-team2Player2 {
	margin-right:5px;
	float:right;
	margin-top:15px;
}

.game-team1Player2 {
	margin-left:auto;
	margin-right:auto;
	margin-top:230px;
}

.player-image {
	width:100px;
	height:110px;
	margin-left:38px;
}

.game-delete-container {
	float:right;
	margin-top:4px;
	margin-right:4px;
}

.player-label {
	text-align:center;
	font-weight:bold;
	font-size:15px;
	margin-top:2px;
}

h4 {
	font-weight:bold;
}

.game-instructions {
	float:left;
	margin-left:10px;
}

.betting-input {
	width:100px;
}

.game-bet-result {
	margin-top:5px;
	margin-left:10px;
}

.game-button-container {
	margin-left:248px;
	margin-top:-328px;
}


.game-win1-container {
	display:none;
	position:absolute;
	text-align:center;
	margin-top:10px;
	width:560px;
	z-index:13;
}

.game-win2-container {
	display:none;
	position:absolute;
	text-align:center;
	margin-top:10px;
	width:560px;
	z-index:13;
}

.win-button img {
	margin-left:auto;
	margin-right:auto;
	width:400px;
	height:500px;
}

.win-header {
	font-size:50px;
}